<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <pluginGroups>   
  </pluginGroups>
  <proxies>
  </proxies>
  <servers>
    <server>
      <id>nexusdeploymentrepo</id>
      <username>admin</username>
      <password>admin</password>
    </server>
  </servers>
  <mirrors>
  </mirrors>
  <profiles>
    <profile>
      <id>env-dev</id>
      <activation>
        <property>
          <name>target-env</name>
          <value>dev</value>
        </property>
      </activation>
      <properties>
        <tomcatPath>/path/to/tomcat/instance</tomcatPath>
      </properties>
    </profile>	
	<profile>
     <id>snapshot</id>
     <repositories>
       <repository>
         <id>nexus-snapshot-repo</id>
         <name>your custom repo</name>
         <url>http://localhost:8081/repository/maven-snapshots/</url>
       </repository>
     </repositories>
   </profile>
    <profile>
     <id>release</id>
     <repositories>
       <repository>
         <id>nexus-release-repo</id>
         <name>your custom repo</name>
         <url>http://localhost:8081/repository/maven-release/</url>
       </repository>
     </repositories>
   </profile>
  </profiles>
</settings>

